{% extends "base.html" %}
{% block content %}
{% if data %}
{% for book in data %}
<div class="book-details">
    <h2>{{ book.bok_tittel }}</h2>
    <p>Skrevet av: {{ book.bok_forfatter }}</p>
    <p>ISBN: {{ book.bok_isbn }}</p>
    <img src="http://127.0.0.1:5020/static/barcode/{{ book.bok_nummer }}.png" alt="Barcode for {{ book.bok_tittel }}" class="img-barcode">
    <form action="{{ url_for('slettbok', bok_nummer=book.bok_nummer) }}" method="post">
        <input type="submit" value="Slett bok">
    </form>
    <form action="{{ url_for('loan_book', bok_nummer=book.bok_nummer) }}" method="post">
        <input type="submit" value="Lån bok">
    </form>
    
</div>
{% else %}
<div class="no-book-message">
    <p>Denne boken finnes ikke</p>
</div>
{% endfor %}
{% endif %}
{% endblock %}