{% extends "base.html" %}
{% block content %}
{% if data %}
{% for book in data %}
<h2>{{ book.bok_tittel }}</h2>
<p>Skrevet av: {{ book.bok_forfatter }}</p>
<p>ISBN: {{ book.bok_isbn }}</p>
<p>Bok nummer: {{ book.bok_nummer }}</p>
<img src="http://192.168.1.146/static/barcode/{{ book.bok_nummer }}.png" alt="Barcode for {{ book.bok_tittel }}" class="img-barcode">
<form action="{{ url_for('slettbok', bok_nummer = book.bok_nummer )}}" method="post">
        
    <input type="submit" value="Slett bok">
</form>

{% else %}
<p>Denne boken finnes ikke</p>
{% endfor %}
{% endif %}
{% endblock %}