{% extends "base.html" %}
{% block content %}
{% if data and data|length > 0 %}
    {% set book = data[0] %}
    <div class="book-details">
        <h2>{{ book.bok_tittel }}</h2>
        <p>Skrevet av: {{ book.bok_forfatter }}</p>
        <p>ISBN: {{ book.bok_isbn }}</p>
        <p>Bok nummer: {{ book.bok_nummer }}</p>
        <img src="http://127.0.0.1:5020/static/barcode/{{ book.bok_nummer }}.png" alt="Barcode for {{ book.bok_tittel }}" class="img-barcode">
        
        {% if book.dato_lånt %}
        <p>Lånt av: {{ book.fornavn }} {{ book.etternavn }}</p>
        <p>Dato lånt: {{ book.dato_lånt|format_datetime }}</p>
        {% else %}
        <p>Ikke lånt ut.</p>
        {% endif %}
        
        <form action="{{ url_for('slettbok', bok_nummer=book.bok_nummer) }}" method="post">
            <input type="submit" value="Slett bok" class="btn btn-danger">
        </form>
    </div>
{% else %}
    <div class="no-book-message">
        <p>Denne boken finnes ikke</p>
    </div>
{% endif %}
{% endblock %}
