{% extends "base.html" %}
{% block content %}
<div class="book-item">
<h1 class="text-center h1">Bøker</h1>
</div>
<div class="div-forms">
    <form action="{{ url_for('index') }}" method="post">
        <label for="barcode">Søk med forfatter eller tittel:</label>
        <input type="text" name="filter_streng" id="filter_streng" value="{{ filter_streng }}" placeholder="Søk etter bøker" required>
        <input type="submit" value="Søk">
    </form>
    <form action="{{ url_for('index') }}">
        <input type="submit" value="Reset" id="resetForm">
    </form>
    <form action="{{ url_for('søk_barcode') }}" method="get">
        <label for="barcode">Scan barkoden:</label>
        <input type="number" name="barcode" id="barcode" placeholder="Søk med kode" required>
        <input type="submit" value="Søk med kode">
    </form>
    <form method="POST" action="{{ url_for('scan_user') }}">
        <label for="user_barcode">User Barcode:</label>
        <input type="number" id="user_barcode" name="barcode" min="1000" max="1020"  placeholder="Søk" required>
        <input type="submit" value="Søk">
    </form>
</div>
{% if error %}
<div class="error-message">
    <p>{{ error }}</p>
</div>
{% endif %}

<div id="book-list">
    {% if data %}
        {% for book in data %}
        <div class="book-item">
            <h2>{{ book.bok_tittel }}</h2>
            <p>Skrevet av: {{ book.bok_forfatter }}</p>
            <p>ISBN: {{ book.bok_isbn }}</p>
            <p>Bok nummer: {{ book.bok_nummer }}</p>
            {% if book.loaned_out %}
            <p>Status: Lånt ut</p>
            {% else %}
            <p>Status: Tilgjengelig</p>
            {% endif %}
            <form action="{{ url_for('bok', bok_nummer=book.bok_nummer) }}" method="post">
                <input type="hidden" name="bok_nummer" value="{{ book.bok_nummer }}">
                <button type="submit">Se boken</button>
            </form>
            <form action="{{ url_for('slettbok', bok_nummer=book.bok_nummer) }}" method="post">
                <input type="submit" value="Slett bok">
            </form>
        </div>
        {% endfor %}
    {% else %}
    <div class="no-book-message">
        <h4>Ingen bøker med denne tittelen/forfatteren</h4>
    </div>
    {% endif %}
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        // If filter_streng is None or empty, clear the input field
        var filterStreng = "{{ filter_streng }}";
        if (filterStreng == "None") {
            document.getElementById("filter_streng").value = "";
        }

        // Handle the reset button click
        document.getElementById("resetForm").addEventListener("submit", function() {
            sessionStorage.removeItem("filter_streng"); // Clear the session storage
            document.getElementById("filter_streng").value = ""; // Clear the input field
        });
    });
</script>
{% endblock %}
