* {
    padding: 0;
    margin: 0;
}


header {
    height: 50px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    color: white;
}
article {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#book-list {
    width: 100%;
    display: flex;

}

#book-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book-item {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: calc(33.333% - 40px); /* 3 items per row, adjust as needed */
    box-sizing: border-box;
}

.book-item h2 {
    margin-top: 0;
}

.book-item p {
    margin: 5px 0;
}

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: darkgray;
    bottom: 0;
    position: absolute;
    width: 100%;
}